.mission {
    display:flex;
    justify-content: center;
    padding: 3px;
    border: 10px solid red;
}

.subMission {
    width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    border: 10px solid red;
}

.subMission h3 {
    color: darkred;
    text-align: center;
}

.subMission p {
    justify-content: center;
    font-size: larger;
    text-align: center;
}

.subMission img {
    display: block;
    margin: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    object-fit: cover;
}